.logo{
    width: 100px;
}

header{
    text-align:center;
}

nav li{
    display: inline;
    padding: 60px;
    font-size: 25px;
}

nav a{
    text-decoration: none;
    color: orange;
}

nav a:hover{
    text-decoration:underline;
}

main {
    background-color: rgb(248, 162, 33);
    color: rgb(240, 238, 138);
}

.welcome{
    padding: 20px;
    background-color: rgb(255, 145, 0);
    text-align: center;
    color: white;
}

body{
    margin: 0;
    padding: 0;
}

.courses{
    padding: 30px;
}

p{
    font-size: 18px;
    line-height: 1.4;
}

.welcome h1, .courses h2{
    color:rgb(0, 195, 255);
}

.infoHam img{
    width: 225px;
    float: left;
    margin-right: 30px;
}

.infoHam {
    overflow: auto;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: lightgray;
}

.imagen {
    width: 600px;
    border: 2px solid rgb(172, 84, 2);
}